html {
  box-sizing: border-box;
}
.profilePicture {
  width: 10vw;
  aspect-ratio: 4.3/4;
  border-radius: 8rem;
  display: inline-block;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13vw;
}
.main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav button {
  background: none;
  border: 0;
}
.posts nav {
  margin-bottom: 4vh;
}
.post a button{
  width: 19vw;
  height: 6vh;
  border-radius: 6rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: solid black;
  box-shadow: none;
  transition: all .500s ease-in-out;
}
.post {
  border: solid black;
  width: fit-content;
  height: fit-content;
}
.post a button:hover {
  background-color: white;
  color: black;
}
.post a{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: auto;
  text-decoration: none;
}
.posts {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
.post div h2 {
  display: inline-block;
  font-size: 7vw;
  margin-left: 5vw;
}
.description {
  font-size: 4vw;
  margin-top: -3vh;
}
